@media (min-width: 360px) {
    .nav-products p {
        font-size: 11px;
    }
}

@media (min-width: 375px) {
    .carousel-caption {
        padding: 2rem 1.5rem;
    }

    .nav-products img {
        max-width: 135px;
    }

    .nav-products p {
        font-size: 12px;
    }
}

@media (min-width: 580px) {
    .carousel-item {
        height: 550px;
    }

    .carousel-caption {
        text-align: left;
        align-items: flex-start;
        padding: 2rem 3.125rem;
    }

    .carousel-caption h1 {
        line-height: 1.25em;
    }

    .nav-products ul {
        width: 180vw;
    }

    .nav-products img {
        max-width: 155px;
    }

    .section-get-started {
        font-size: 14px;
    }

    .container-motivation h2 {
        font-size: 32px;
    }

    .container-motivation p {
        font-size: 18px;
    }

    .container-btn-classes {
        flex-direction: row;
    }

    .btn-try-class {
        margin-top: 40px;
    }
}

@media (min-width: 768px){
    .carousel-indicators {
        bottom: 8px;
    }

    .carousel-caption {
        text-align: left;
        align-items: flex-start;
    }

    .carousel-caption h2 {
        font-size: 20px;
        letter-spacing: 1.8px;
        max-width: 680px;
    }

    .carousel-caption h1 {
        font-size: 40px;
        max-width: 680px;
    }

    .section-affirm {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        padding: 48px 0px;
    }

    .modal-body {
        margin-inline: 12rem;
        margin-top: 2rem;
    }

    .modal-footer {
        margin-inline: 12rem;
        margin-bottom: 8rem;
    }

    .nav-products ul {
        max-width: 1050px;
    }

    .nav-products li:not(:last-of-type) {
        margin-right: 25px;
    }

    .nav-products img {
        max-width: 125px;
    }

    .section-get-started a {
        max-width: calc(1000px);
    }

    .section-classes {
        padding-top: 80px;
    }

    .promo-product1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        -webkit-box-pack: end;
        padding: unset 10% 2.5rem 10%;
        height: 500px;
        min-height: unset;
    }

    .promo-product1 div {
        max-width: 400px;
    }

    .promo-product1 h2 {
        font-size: 18px;
        line-height: 1.42;
    }

    .promo-product1 h1 {
        font-size: 32px;
    }

    .products-bikes {
        display: flex;
        flex-direction: column;
        padding: 4rem 10% 5rem;
    }

    .products-bikes a {
        max-width: unset;
        min-height: 320px;
        gap: 40px;
    }

    .subcontainer-prod-bikes1 img {
        height: 250px;
    }

    .subcontainer-prod-bikes2 h4 {
        font-size: 28px;
    }

    .promo-product2 {
        display: flex;
        flex-direction: column;
        padding: 4rem 10% 5rem;
    }

    .promo-product2 a {
        max-width: unset;
        min-height: 320px;
        gap: 40px;
    }

    .subpromo-product2 img {
        height: 250px;
    }

    .promo-product2 h4 {
        font-size: 28px;
    }

    .promo-product2 span {
        font-size: 16px;
        line-height: 1.42;
        text-decoration: underline;
        cursor: pointer;
    }
}

@media (min-width: 800px) {
    .carousel-item {
        height: 760px;
    }

    .carousel-caption {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, transparent 85%);
        padding: 2rem 8.75rem;
    }

    .nav-products ul {
        padding: 60px 40px 30px;
    }

    .nav-products li {
        min-width: 130px;
        max-width: 180px;
    }

    .nav-products li:hover {
        backface-visibility: hidden;
        box-shadow: rgb(0 0 0 / 20%) 5px 3px 50px 0px;
        cursor: pointer;
        transform: translate3d(0px, 0px, 0px) scale(1.08);
        transition: all 300ms ease 0s;
    }

    .section-get-started a {
        max-width: calc(970px);
    }

    .container-motivation h2 {
        font-size: 36px;
    }
}

@media (min-width: 1024px) {
    .carousel-caption h1 {
        font-size: 50px;
        line-height: 1.36;
    }

    .nav-products li {
        height: 170px;
        min-width: 150px;
    }

    .nav-products li:not(:last-of-type) {
        margin-right: 40px;
    }

    .nav-products img {
        max-width: 150px;
    }

    .nav-products p {
        font-family: var(--font-primary);
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.1em;
        line-height: 1.375em;
        text-transform: uppercase;
    }

    .section-get-started {
        padding: 0px 40px 48px;
    }

    .section-classes {
        padding-top: 100px;
    }

    .container-motivation {
        padding: 0px;
        max-width: 700px;
    }

    .section-promo-products {
        display: flex;
        justify-content: center;
        -webkit-box-pack: center;
    }

    .section-promo-products > div {
        padding: 7.5rem 8% 2.5rem;
        gap: 1.5rem;
        width: calc(1200px + 16%);
        max-height: 680px;
    }

    .container-peloton-bike {
        flex-direction: row;
        min-height: 840px;
    }

    .container-promo-peloton {
        flex-direction: row;
        min-height: 640px;
    }

    .container-peloton-bike > :first-child {
        -webkit-box-flex: 0;
        flex: 0 0 50%;
    }

    .container-promo-peloton > :first-child {
        -webkit-box-flex: 0;
        flex: 0 0 50%;
    }

    .promo-product1 {
        padding: 0px 2rem 2.5rem;
        height: unset;
        border-radius: 4px;
    }

    .promo-product1 div {
        max-width: 440px;
    }

    .promo-product1 h1 {
        font-size: 36px;
    }

    .products-bikes {
        padding: 0;
    }

    .products-bikes a {
        gap: 24px;
    }

    .promo-product2 {
        padding: 0px;
    }

    .promo-product2 a {
        gap: 24px;
    }

    .subpromo-product2 img {
        height: 200px;
    }
}
